<div class="container">
  <div class="row">
    <div class="col">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1249611/pexels-photo-1249611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-position: center; background-size: cover;">
        <div class="container text-center text-white py-5">
          <h1 class="my-4" style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 3rem;">Liste des annonces</h1>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12 mb-4">
          <form action="/tools" method="get">
            <div class="form-group">
              <label for="category">Filtrer par catégorie:</label>
              <select name="category" id="category" class="form-control">
                <option value="">Toutes les catégories</option>
                <% Category.all.each do |category| %>
                  <option value="<%= category.id %>" <%= 'selected' if params[:category] == category.id.to_s %>> <%= category.name %></option>
                <% end %>
              </select>
            </div>
            <div class="form-group">
              <label for="city">Filtrer par ville:</label>
              <select name="city" id="city" class="form-control">
                <option value="">Toutes les villes</option>
                <% Tool.all.each do |tool| %>
                  <option value="<%= tool.city %>" <%= 'selected' if params[:city] == tool.city.to_s %>> <%= tool.city %></option>
                <% end %>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Filtrer</button>
          </form>
        </div>

        <% @tools.each do |tool| %>
          <% if params[:category].blank? || tool.categories.exists?(id: params[:category]) %>
            <% if params[:city].blank? || tool.city == params[:city] %>
              <div class="col-md-4 mb-4">
                <div class="card">
                  <%= link_to tool_path(tool) do %>
                    <%= cl_image_tag tool.image.key, height: 300, width: 400, crop: :fill, class: "card-img-top" if tool.image.key.present? %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= tool.name %></h5>
                    <p class="card-text"><i class="fas fa-info-circle"></i> <%= tool.description %></p>
                    <p class="card-text"><i class="fas fa-city"></i> <%= tool.city %></p>
                    <p class="card-text"><i class="fas fa-tags"></i>
                      <% tool.categories.each do |category| %>
                        <%= category.name %>
                        <% unless category == tool.categories.last %>, <% end %>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
