<div class="container">
  <div class="row">

    <div class="col">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1249611/pexels-photo-1249611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-position: center; background-size: cover;">
        <div class="container text-center text-white py-5">
          <h1 class="my-4" style="font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 3rem;">Liste des annonces</h1>
        </div>
      </div>

      <div class="row mt-4">
        <% @tools.each do |tool| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <%= cl_image_tag tool.image.key, height: 300, width: 400, crop: :fill, class: "card-img-top" if tool.image.key.present? %>
              <div class="card-body">
                <h5 class="card-title"><%= tool.name %></h5>
                <p class="card-text"><strong>Description :</strong> <%= tool.description %></p>
                <p class="card-text"><strong>Ville :</strong> <%= tool.city %></p>
                <%= link_to "Voir l'annonce", tool_path(tool), class: "btn btn-primary stretched-link" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
