<!-- app/views/tools/show.html.erb (ou une autre vue appropriée) -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row mt-4 justify-content-center">
        <div class="col-md-8 mb-4">
          <div class="card" id="card">
            <div class="row no-gutters">
              <% if @tool.image.present? %>
                <div class="col-md-4">
                  <%= image_tag @tool.image.url, class: 'card-img' %>
                  <div class="mt-3">
                    <p><strong>Description :</strong> <%= @tool.description %></p>
                    <p><strong>Ville :</strong> <%= @tool.city %></p>
                  </div>
                </div>
              <% end %>
              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="mb-4"><%= action_name == 'new' ? 'Créer une Nouvelle Location' : @tool.name %></h1>
                  <%= form_with(model: @booking, local: true, class: "needs-validation", novalidate: true) do |form| %>
                    <div class="mb-3">
                      <%= form.label :date, 'Date de Location', class: "form-label" %>
                      <%= form.date_field :date, class: "form-control", required: true %>
                      <div class="invalid-feedback">
                        Veuillez entrer la date de location.
                      </div>
                    </div>
                    <%= form.submit action_name == 'new' ? 'Créer Location' : 'Louer', class: "btn btn-primary" %>
                  <% end %>
                  <%= link_to 'Retour', bookings_path, class: "btn btn-secondary mt-3" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
