<!-- app/views/tools/show.html.erb (ou une autre vue appropriée) -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row mt-4 justify-content-center">
        <div class="col-md-8 mb-4">
          <div class="card" id="card">
            <% if @tool.image.present? %>
              <%= image_tag @tool.image.url, class: 'card-img-top' %>
            <% end %>
            <div class="card-body p-0">
              <div class="px-3 py-2">
                <p><strong>Description :</strong> <%= @tool.description %></p>
                <p><strong>Ville :</strong> <%= @tool.city %></p>
              </div>
            </div>
            <%= link_to 'Nouvelle location', new_booking_path, class: 'btn btn-success btn-sm w-100 mt-4' %>
            <%= link_to 'Retour à la liste des outils', tools_path, class: 'btn btn-warning btn-sm w-100 mt-4' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
