<div class="containe">
<h1>Editer Profil</h1>

<%= form_with(model: @user, url: profile_path, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pseudo %>
    <%= form.text_field :pseudo, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= form.label :mot_de_passe %>
    <%= form.password_field :mot_de_passe, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :mot_de_passe_confirmation %>
    <%= form.password_field :mot_de_passe_confirmation, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Mettre à jour', class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'retour', root_path, class: "btn btn-secondary" %>
</div>
