<script src="nav-bar.js"></script>

<div id="navbar" class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag("logo.png", alt: "Logo", class: "logo", style: "width: 100px; height: 53px; object-fit: cover;", id: "logo") %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item mx-2">
            <%= link_to 'Mes Locations', bookings_path, class: 'nav-link' %> <!-- Nouveau lien pour l'index des bookings -->
          </li>
          <li class="nav-item mx-2">
            <%= link_to 'Mes annonces', my_tools_path, class: 'nav-link' %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to 'Déposer une nouvelle annonce', new_tool_path, class: 'nav-link' %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to 'Voir toutes les annonces', tools_path, class: 'nav-link' %>
          </li>
          <li class="nav-item dropdown mx-2">
            <% if current_user %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= cl_image_tag current_user.image.key, height: 50, width: 50, style: "border-radius: 50px;", crop: :fill %>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
              </div>
            <% else %>
              <%= link_to 'Rechercher un outil', tools_path, class: 'nav-link' %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item mx-2">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
